
/**
 * @file
 * zilch style
 *
 */

html {
background-image: -ms-linear-gradient(top, #777 0%, #fff 1.7%);
background-image: -moz-linear-gradient(top, #777 0%, #fff 1.7%);
background-image: -o-linear-gradient(top, #777 0%, #fff 1.7%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #777), color-stop(1, #fff));
background-image: -webkit-linear-gradient(top, #777 0%, #fff 1.7%);
background-image: linear-gradient(top, #777 0%, #fff 1.7%); 
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#777', endColorstr='#fff'); 
padding-top: 11px;
} 
body {
  font-size:107%;  
}

/*Layout*/
#page {
  margin: 0 auto;
  max-width: 1150px;
}
#content,
#sidebar-first,
#sidebar-second {
  float: left;
  display: inline;
  position: relative;
}

#content {
  width: 100%;
}
body.sidebar-first #content {
  width: 70%;
  left: 30%; /* LTR */
}
body.sidebar-second #content {
  width: 70%;
}
body.two-sidebars #content {
  width: 40%;
  left: 30%;
}

#sidebar-first {
  width: 30%;
  left: -70%; /* LTR */
}

body.two-sidebars #sidebar-first {
  left: -40%; /* LTR */
}

#sidebar-second {
  float: right; /* LTR */
  width: 30%;
}

.section {
  margin: 10px;
}
.section:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix:after {
  clear: both;
  content: "";
  display: table;
  height: 0;
  visibility: hidden;
}

/***Styling***/
/*Font*/
#content {
  font-size: 1.12em;
  color: #777;
}
a:hover {
  color: #2C366B;
}
h1,
h2,
h3,
h4,
h5,
#page-title {
  color: #5a5a5a;
}
h1 {
  font-size: 1.4em;
  font-weight: 1000;
}
h2 {
  font-size: 1.24em;
  font-weight: 800;
}
h3 {
  font-size: 1.2em;
  font-weight: 800;
}
h4 {
  font-size: 1.1em;
  font-weight: 700;
}
h5 {
  font-size: 1em;
  font-weight: 700;
}


/*General*/
p {
  line-height: 1.34em;
}
p {
  margin: 2px 11px;
}

h2 {
  margin: 2px 0 5px;;
}
hr {
  margin: 0 auto;
}
hr .width25 {
  width: 25%;
  margin: 0 auto;
}
hr .width50 {
  width: 50%;
  margin: 0 auto;
}
hr .width75 {
  width: 75%;
  margin: 0 auto;
}
.box {
  background: #f5f5f5;
  border: 1em solid #f8f8f8;
  border-radius: 11px;
  margin: 1em 3em;
}
.button {
  display: inline-block;
  padding: 5px 11px;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 3px solid #777;
  border-left: 2px solid #555;
  border-radius: 11px;
  margin: 11px;
  color: #0000ff;
  font-weight: 700;
  text-align: center;
  background: #fafafa;
}
a.button {
  text-decoration: none;
}
.button:hover {
  border-top: 3px solid #777;
  border-bottom: 1px solid #aaa;
  border-radius: 11px;
}

/*Drupal elements styling*/
#site-name a {
  font-size: 1.88em;
  text-decoration: none;
  color: #555;
}

#logo,
.region-header,
#name-and-slogan {
  float: left;
  height: auto;
  margin: 0.2em 2em;
}
#name-and-slogan h1{
  margin: 0;
}
.region-header a {
  text-decoration: none;
}
.region-header li {
  display: inline;
  background: #eee;
  padding: 5px 11px;
  border-radius: 7px;
}
.region-header ul.menu {
  margin: 10px 0;
  padding: 0;
}

.region-highlighted .block {
  background: #fdfdfd;
  border-radius: 7px;
  padding: 11px;
  margin: 1.1em 3em 1.5em;
  box-shadow: 0px 2px 2px 4px #aaa;
  font-size: 1em;
}
.region-highlighted .block h1,
.region-highlighted .block h2 {
  margin: 5px 0;
}

.submitted {
  margin: 5px 0 7px;
  color: #a1a1a1;
  font-size: 0.8em;
}

.sidebar .block {
  margin-top: 1em;
  margin-bottom: 11px;
  color: #555;
  border: 2px solid #ddd;
  border-radius: 7px 7px 0 0;  
}
.sidebar .block h2 {
  padding: 7px 11px;
  margin-bottom: 0;
  background: #f0f0f0;
  border-radius: 7px 7px 0 0;
  font-weight: 500;
} 
.sidebar .block .content {
  padding: 11px;
} 

#footer .block {
  background: #bbb;
  border-radius: 7px;
  padding: 11px;
  margin-bottom: 11px;
}

.sidebar .block ul {
  margin: 11px 0;
}

/*Admin*/
.overlay-active #page-title,
.page-node-edit #page-title {
 font-size: 1em;
}
textarea, input {
  color: #444444;
  font-family: helvetica;
  font-size: 1.01em;
  line-height: 1.7em;
}
input[type="text"],
input[type="email"],
input[type="search"],
select {
  max-width: 100%;
}
.page-admin table {
  width: 95%;
  max-width: 1020px;
  margin: 0 auto;
}
.page-admin.page-admin-modules table {
  width: 95%;
  max-width: 95%;
}

tr.even td {
  background-color: #fafafa !important;
}  
#overlay-tabs a {
  font-size: 1.4em !important;
  line-height: 1.5em !important;
}
